<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- suite节点：测试套件，
       test节点：一个测试场景
        classes节点：一个测试用例
           methods节点：一个测试方法
             include节点：包括
             exclude节点：不包括
  -->
<!--parallel为实现多线程并发的参数，thread-count为线程个数-->
<suite name="AllTests" parallel="methods" thread-count="4">
    <!--<suite name="AllTests">-->
    <test verbose="2" preserve-order="true" name="/Users/liucong/Downloads/javaprojects/webauto_java">
        <classes>
<!--            如果不写测试方法，则包含类中所有测试方法-->
            <class name="com.curry.webauto_java.scripts.TestSeleniumGrid">
            </class>
        </classes>
    </test>
</suite>