<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- suite节点：测试套件，
       test节点：一个测试场景
        classes节点：一个测试用例
           methods节点：一个测试方法
             include节点：包括
             exclude节点：不包括
  -->
<!--parallel为实现多线程并发的参数，thread-count为线程个数-->
<suite name="AllTests" parallel="methods" thread-count="2">
<!--<suite name="AllTests">-->
    <test verbose="2" preserve-order="true" name="/Users/liucong/Downloads/javaprojects/webauto_java">
        <parameter name="browser1" value="chrome" />
        <parameter name="browser2" value="firefox" />

        <classes>
            <class name="com.curry.webauto_java.scripts.TestMultiThreading">
                <methods>
                    <include name="testBrowser1"/>
                    <include name="testBrowser2"/>
<!--                    <include name="testBrowser"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>